# Database Configuration
POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=expense_tracker_db
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres_db:5432/expense_tracker_db

# Security
JWT_SECRET=your_super_secret_key_at_least_32_characters
JWT_EXPIRATION=86400000

# Mail Server
SPRING_MAIL_USERNAME=your_email@gmail.com
SPRING_MAIL_PASSWORD=your_app_password

# Local Host URL Frontend
FRONTEND_URL=http://127.0.0.1:5500